.card {
    background: #F0FFFF;
    height: 200px;
    width: 150px;
    padding: 0;
    border: 1px solid #B0C4DE;
    border-radius: 5px;
    float: left;
    display: block;
    margin: 10px 0px 0px 10px;
}