.text__credit {
  clear: both;
  display: block;
  font-weight: normal;
  font-size: smaller;
  padding: .5em 0 0 .5em;
}

/* probably need to remove this but for temporary purposes */
.container {
  clear: both;
}
