.form__container {
  clear: both;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.form__zipcode
{
  display: flex;
  flex-flow: column;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.form__city {
  display: flex;
  flex-flow: column;
}

.form__complete
{
  display: flex;
  flex-flow: column;
}

.button {
  margin-top: 0.5rem;
}
