.text__credit {
  clear: both;
  display: block;
  font-weight: normal;
  font-size: smaller;
  padding: .5em 0 0 .5em;
}

/* probably need to remove this but for temporary purposes */
.creditContainer {
  clear: both;
}

.form__container {
  clear: both;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}


.form__zipcode
{
  display: flex;
  flex-flow: column;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.form__city {
  display: flex;
  flex-flow: column;
}

.form__complete
{
  display: flex;
  flex-flow: column;
}

.button {
  margin-top: 0.5rem;
}
